@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #7b5cff #0a0a0a;
}

/* Chrome, Edge y Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #7b5cff, #9a85ff);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9a85ff, #b9a9ff);
}

::-webkit-scrollbar {
  width: 6px;
  opacity: 0;
  transition: opacity 0.3s;
}

body:hover ::-webkit-scrollbar {
  opacity: 1;
}