---
import Layout from "../layouts/Layout.astro";
import ChartGrid from "../components/ChartGrid.astro";
import chartsData from "../data/chart.json";
---

<Layout>
  <!-- Título Principal -->
  <section class="text-center mb-12 max-w-2xl mx-auto">
    <h1 class="text-center text-2xl font-medium text-gray-200 mb-2">
      Cada número es un reflejo de una historia invisible
    </h1>
    <p class="text-center text-sm text-gray-500 mb-6">
      Sistema de métricas · Exploración de datos y visualizaciones
    </p>
  </section>
  <!-- Sección de Cards -->
  <div class="w-full max-h-[70vh] overflow-y-auto overflow-x-hidden p-4">
    <ChartGrid charts={chartsData} />
  </div>
</Layout>
